.main-cont{
  background-color: rgb(183, 172, 201);
  max-width:300px;
 
  border-radius: 5px;
  padding: 2px;
  height: auto;
  width: auto;
  min-height: 100px;
  box-shadow: 5px 5px  rgb(155, 151, 151);
}
.heading{
  display: flex;
  
  justify-content: center;
  font-style: italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(34, 34, 156);
 
  
  
}
.inputnbutton{
  display: flex;
  align-items: center;
  
  border-radius: 5px;
  min-height: 40px;
  
  width: auto;
  
}
.inputbox{
  min-height: 24px;
  
  width:80%;
  border-radius: 6px;
  border-color: aqua;
}
.plus{
margin-left: 5px;
height: 35px;
  width: 35px;
  
  border-radius: 20%;
  
  color: red;
  border-color: aqua;
 

}
.plus:hover{
  background-color:aqua;
}
.display{
  display: flex;
  margin-top: 3px;
  align-items: center;
  
  border-radius: 5px;
  min-height: 40px; 
  
  width: auto;
 
}
.minus:hover{
background-color: red;
color: white;
  
}
.minus{
  width: auto;
  border-radius: 20%;
  align-self:center;
  margin-right:  15px ;
  
  cursor: pointer;
  border: 2px solid rgb(240, 175, 55) ;
  background-color: rgb(240, 175, 55) ;
  font-size: x-small;
 
  


}
.rendereddata{
  width:95%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  border-radius: 20px;
  margin: 7px;
  background-color:rgb(30, 180, 135);

}
.rendereddata:hover{
  background-color:rgb(35, 105, 45);
  
}
.rendereditem{
  
  max-width: 98%;
  color: white;
  
  
  -ms-wrap-flow: clear;
}
.deleteall{
margin-left: 30%;


}
.deleteall:hover{
  background-color: red;
 
 border-color: red;
  
  color:yellowgreen;

  
}

  


.data{
  width: 100%;

}
.edit{
  float: right;
  align-items: right;
  justify-content: right;
  justify-self: right;
  margin: 2px;
  border-radius: 40%;
  border-color: yellowgreen;
}
.edit:hover{
  color: rgb(41, 43, 212);
  background-color: yellowgreen;
  border-radius: 40%;
  border-color: yellowgreen;
}